@import '../../general.scss';
.selector__header {
	margin-bottom: 2em;

	.selector__header-header {
		margin: 0 0 .5em;
	}
}

.selector__subtitle {
	font-size: 22px;
	line-height: 34px;
	font-weight: 300;
}